
div{margin-top:550px;
    margin-left:15px;
    width: 100%;
  
}
h1{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: rgb(190, 12, 12);
}
p{
    font-family: sans-serif;
    color: darkgrey;
}
img{
    margin-left: 18%;
}